<nav class="black darken-3" role="navigation">
	<a id="logo-container" href="#" class="brand-logo logoTop center"><img class="responsive-image nav-style" src="/YTALogo.png"</img></a>

<i class="material-icons right">perm_identity</i>

	<ul id="slide-out" class="side-nav fixed grey lighten-2">
		<li>
				<form>
					<div class="input-field right ">
						<input id="search" class="input-field" type="search" required="">
						<label for="search" class=""><i class="material-icons">search</i></label>
					</div>
				</form>
			</li>

		<li class="side_btn_style"><a class="waves-effect waves-light btn black style" href="#!">BUS SCHEDULE</a></li>
		<li class="side_btn_style"><a class="waves-effect waves-light btn black style" href="#!">PROGRAM MANAGMENT</a></li>
		<li class="side_btn_style"><a class="waves-effect waves-light btn black style" href="#!">DRIVER NAVIGATION</a></li>
	</ul>
	<a href="" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	<script>
		$(".button-collapse").sideNav();
	</script>
</nav>