	<nav class="black darken-3" role="navigation">
		<a id="logo-container" href="#" class="brand-logo"><img class="responsive-image" src="Images/DBCLogo.png" style="width:60%"</img></a>


		<div class="nav-wrapper">

			<ul class="hide-on-med-and-down  linkCenter">
				<li class="linkSpace"><a class="waves-effect waves-light btn black" href="#">BUS SCHEDULE</a></li>
				<li class="linkSpace"><a class="waves-effect waves-light btn black"  href="#">PROGRAM MANAGMENT</a></li>
				<li class="linkSpace"><a class="waves-effect waves-light btn black"  href="#">DRIVER NAVIGATION</a></li>
				<li class="right">

					<form>
						<div class="input-field">
							<input type="search" id="search-field" class="field" required maxlength="">
							<label for="search-field"><i class="mdi-action-search"></i></label>
							<i class="mdi-navigation-close close"></i>
						</div>
					</form>
				</li>
				<li class="right"><a href="#"><i class="material-icons">view_module</i></a></li>

			</li>

		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li>
				<form>
					<div class="input-field right">
						<input id="search" type="search" required="">
						<label for="search" class=""><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</li>
			<li class="textStyle"><a class="waves-effect waves-light btn blue" href="#">BUS SCHEDULE</a></li>
			<li><a class="waves-effect waves-light btn blue"  href="#">PROGRAM MANAGMENT</a></li>
			<li><a class="waves-effect waves-light btn blue"  href="#">DRIVER NAVIGATION</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>


		<a href="#" class="alert_mobile"><i class="material-icons">view_module</i></a>
	</div>

</nav>